@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

@theme inline {
  --font-oswald: var(--font-oswald);
  --font-roboto-condensed: var(--font-robotoC)
}



@utility btn {
  @apply rounded-md;
}
